# Datos locales y archivos generados
data/
#notebooks/

# Documentación local no versionada
research_and_planning/plans_and_proposals/

# Libros no versionados
research_and_planning/

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Caché de Python
__pycache__/
*.pyc

# Variables de entorno
.env

