# Python
__pycache__/
*.pyc
.venv/
.env/

# Notebooks
.ipynb_checkpoints/

# Data (versionado por DVC)
data/source/
data/raw/
data/processed/
data/features/
zstage_06

# Parquet / binarios
*.parquet

# MLflow local
mlruns/